<li class="todo-list-item {{if this.isCompleted "is-completed"}}">
  <label>
    <input type="checkbox" checked={{this.isCompleted}} onClick={{handleToggle}}>
    <span class="label">{{this.label}}</span>
  </label>
</li>
